@model CadastroClientes.App.Models.ClienteViewModel
@using CadastroClientes.App.Models
@{ var documento = new DocumentoViewModel(); }
@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger alert-dismissible" role="alert" style="padding-bottom: 0px">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <div id="msg_box" class="alert alert-success alert-dismissible" role="alert">
        <i class="fa-regular fa-circle-check"></i>
        <strong id="msgRetorno">@Html.Raw(TempData["Sucesso"].ToString())</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-6">
        <hr/>
        <h5>Dados do Cliente</h5>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NomeFantasia)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RazaoSocial)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Cnpj)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cnpj)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DataCadastro)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DataCadastro)
            </dd>
        </dl>
        <hr/>
        <h5>Endereço</h5>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Endereco.Logradouro)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Endereco.Logradouro)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Endereco.Numero)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Endereco.Numero)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Endereco.Bairro)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Endereco.Bairro)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Endereco.Cidade)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Endereco.Cidade)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Endereco.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Endereco.Estado)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Endereco.Pais)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Endereco.Pais)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Endereco.Cep)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Endereco.Cep)
            </dd>
        </dl>
        <hr/>
        <h5>Contatos</h5>
        @{
            if (Model.Contatos.Any())
            {
                foreach (var item in Model.Contatos)
                {
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(model => item.NomeRepresentante)
                            </h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary text-black-50">
                                @Html.DisplayFor(model => item.Cargo)
                            </h6>
                            <hr/>
                            <dl class="row">
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => item.DescricaoContato)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => item.DescricaoContato)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => item.EmailRepresentante)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => item.EmailRepresentante)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => item.TelefoneRepresentante)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => item.TelefoneRepresentante)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => item.EmailComercial)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => item.EmailComercial)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => item.TelefoneComercial)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => item.TelefoneComercial)
                                </dd>
                            </dl>
                        </div>
                    </div>
                }
            }
            else
            {
                <h6 class="text-black-50">Não há contatos cadastrados</h6>
            }
        }
    </div>
    <div class="col-6">
        <hr/>
        <h5>Documentos</h5>
        <form asp-action="AdicionarDocumento" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@documento.Descricao" class="control-label"></label>
                <textarea name="descricao" asp-for="@documento.Descricao" class="form-control"></textarea>
                <span asp-validation-for="@documento.Descricao" name="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@documento.TipoDocumento" class="control-label"></label>
                <select name="tipoDocumento" asp-for="@documento.TipoDocumento" class="form-control"
                        data-control="select2"
                        data-hide-search="true" asp-items="Html.GetEnumSelectList<TipoDocumentoViewModel>()"
                        style="cursor: pointer;">
                    <option value="" selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="@documento.TipoDocumento" name="tipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@documento.Arquivo" for="formFile" class="control-label"></label>
                <input asp-for="@documento.Arquivo" name="Arquivo" type="file" class="form-control" id="formFile">
                <span asp-validation-for="@documento.Arquivo" name="Arquivo" class="text-danger"></span>
            </div>
            <input type="hidden" name="clienteId" asp-for="@Model.Id"/>
            <br/>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa-regular fa-circle-up"></i> Importar documento
                </button>
            </div>
        </form>
        <br/>
        @{
            if (Model.Documentos.Any())
            {
                foreach (var item in Model.Documentos)
                {
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(model => item.NomeArquivo)
                            </h5>
                            <dl class="row">
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => item.Descricao)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => item.Descricao)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => item.TipoDocumento)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => item.TipoDocumento)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => item.DataHoraCriacao)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => item.DataHoraCriacao)
                                </dd>
                                <div class="text-end">
                                    <form asp-action="DeletarDocumento">
                                        <input type="hidden" name="id" asp-for="@item.Id"/>
                                        <input type="hidden" name="clienteId" asp-for="Documento.ClienteId"/>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </form>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <br/>
                }
            }
            else
            {
                <h6 class="text-black-50">Não há documentos cadastrados</h6>
            }
        }
    </div>
</div>
<br/>
<div>
    <a class="btn btn-secondary" asp-action="Index"><i class="fa-solid fa-reply"></i> Voltar</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-regular fa-pen-to-square"></i>
        Editar</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(".alert-success").fadeTo(8000, 500).slideUp(500, function () {
            $(".alert-success").alert('close');
        });
    </script>
}