@model IEnumerable<CadastroClientes.App.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger alert-dismissible" role="alert" style="padding-bottom: 0px">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <div id="msg_box" class="alert alert-success alert-dismissible" role="alert">
        <i class="fa-regular fa-circle-check"></i>
        <strong id="msgRetorno">@Html.Raw(TempData["Sucesso"].ToString())</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-regular fa-square-plus"></i> Cadastrar Novo</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnpj)
        </th>
        <th>
            Ações
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                <a class="btn btn-outline-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i
                        class="fa-regular fa-pen-to-square"></i> Editar</a>
                <a class="btn btn-outline-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id"><i
                        class="fa-regular fa-eye"></i> Detalhes</a>
                <a class="btn btn-outline-secondary btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i
                        class="fa-regular fa-trash-can"></i> Deletar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(".alert-success").fadeTo(8000, 500).slideUp(500, function () {
            $(".alert-success").alert('close');
        });
    </script>
}